html {
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: #999999;
}

#app {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

.container-fluid {
    padding: 0px;
}

input[type='checkbox']:focus, input[type='checkbox']:active, input[type='checkbox']:hover {
    outline: none;
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-red {
    color: #ff0000;
}

.color-nobel {
    color: #999999;
}

.color-navyblue {
    color: #102139;
}

.bg-navyblue {
    background-color: #102139;
}

.bg-ghostWhite {
    background-color: #f3f3f4;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #edf0f2;
}

.bg-skyblue {
    background-color: #87ceeb;
}

.bg-skyblue:hover, .bg-skyblue:focus {
    color: white !important;
}

.w-65 {
    width: 65%;
}

.w-85 {
    width: 85%;
}

.cursor_pointer {
    cursor: pointer;
}

.can_drag .cursor_drag {
    cursor: all-scroll;
}

input[type='button'] {
    color: white;
}

.form-control:focus {
    box-shadow: none !important;
}

.bottom-15 {
    bottom: 15px;
}

.bottom-22 {
    bottom: 22px;
}

.AddProject input[type='text']:focus,
.AddProject input[type='text']:active,
.AddTask input[type='text']:focus,
.AddTask input[type='text']:active,
a:focus,
a:active {
    outline: none !important;
    background: none !important;
    box-shadow: none;
}

/*---------------*/
/*    Header     */
/*---------------*/

.mb-6 {
    margin-bottom: 4rem !important;
}

.mb-7 {
    margin-bottom: 5rem !important;
}

.mr-6 {
    margin-right: 4rem !important;
}

/*---------------*/
/*    Header     */
/*---------------*/
.navigation {
    background: #102139;
    height: 40px;
}

.has-search {
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.has-search .form-control {
    height: 26px;
    width: 250px;
    border-radius: 30px;
    border: none;
}

.sidebar {
    background-color: #f6f6f6;
}

.sidebar ul.nav-bar {
    font-size: 15px;
    padding-left: 35px;
    list-style: none;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navicon {
    margin-right: 50px;
}

.nav-link,
.nav-link:hover,
.nav-link:active {
    font-weight: bold;
    color: #102139;
}

.AddTask .modal-footer {
    justify-content: space-between;
}

/*-------------------------*/
/*    Reagister & Login     */
/*-------------------------*/
.form-group {
    margin-bottom: 1rem !important;
}

#register_container,
.login_container,
.verifycode_container, .otp_container {
    color: white;
}

#register_container input,
.login_container input {
    background: #28384d;
    border: none;
    border-radius: 50px;
}

.otp_container input {
    border: none;
    width: 15%;
}

#register_container a,
.login_container button {
    background: #77caea;
    border-radius: 50px;
}

.login_container button:hover,
.login_container button:active,
.login_container button:focus {
    background-color: #50a6d0;
    border-color: #50a6d0;
}

.login_container a:hover {
    color: #aaa;
    text-decoration: none;
}

#register_container button, .otp_container button {
    background: transparent;
    border: none;
}

.error {
    color: red;
}

.login_container .form-control::placeholder,
#register_container .form-control::placeholder {
    color: #eee !important;
    opacity: 1;
}

.input_bg_image {
    width: 25px;
    position: absolute;
    height: 25px;
    left: 10px;
    top: 5px;
    background-repeat: no-repeat;
}

.span_password {
    background-image: url('../images/icon_password.png');
}

.span_email {
    background-image: url('../images/icon_email.png');
    width: 25px;
    position: absolute;
    height: 25px;
    left: 10px;
    top: 5px;
}

input#email,
input#name,
input#password,
input#confirm-password {
    text-indent: 30px;
    color: #eee;
}

input#email:focus,
input#name:focus,
input#password:focus,
input#confirm-password:focus {
    background-color: #28384d;
}

input#email:-webkit-autofill, input#password:-webkit-autofill, input#name:-webkit-autofill, input#confirm-password:-webkit-autofill {
    transition: background 5000s;
    -webkit-text-fill-color: #eee !important;
}

input[type='text']:-webkit-autofill {
    transition: background 5000s;
}

.span_confirm-password {
    background-image: url('../images/icon_password_confirm.png');
}

.span_name {
    background-image: url('../images/icon_user.png');
}

.title hr {
    border-bottom: 3px solid white;
    width: 50%;
}

.reset-password-btn {
    background: transparent !important;
    border: none !important;
}

/*----------------------*/
/*    Project Detail    */
/*----------------------*/
/*---------------*/
/*    Sidebar    */
/*---------------*/
.firstlevel:before {
    content: '\2022';
    margin-right: 10px;
    font-size: 30px;
}

.flaglist {
    list-style: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: lighter;
    font-size: 15px;
}

.flaglist li a {
    color: black;
}

.flaglist li a:hover {
    color: black;
    text-decoration: none;
}

/*---------------*/
/*    List    */
/*---------------*/
.Listflag {
    width: 25px;
    height: 25px;
}

/*-------------------------*/
/*           Responsive     */
/*-------------------------*/

/*-----------------------*/
/*           Phone       */
/*-----------------------*/
@media (max-width: 576px) {
    .mainheading {
        text-align: center;
    }

    .has-search {
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
    }

    .navicon {
        margin-right: 10px;
    }
}

/*----------------------------------------------------------------------------
                Style for Accordion Component starts
-----------------------------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.accordion-container {
    margin: auto;
    /*width: 350px;*/
}

.accordion-container h1 {
    color: rgba(0, 0, 0, 0.48);
    text-align: center;
    font-family: sans-serif;
}

.accordion-container .error {
    margin-top: 15%;
}

.parent-accordion {
    width: 100%;
    /*border: solid 1.5px rgba(0, 0, 0, 0.09);*/
}

.accordion-heading {
    padding: 10px 10px;
    background-color: rgba(226, 226, 226, 0.33);
    cursor: pointer;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 600;
    color: #6f6e6e;
    font-family: sans-serif;
    transition: background-color 0.9s;
}

.clicked {
    background-color: rgba(0, 0, 0, 0.78);
    color: #fff;
}

.accordion-content {
    overflow-y: hidden;
    transition: height 0.5s, padding 0.5s;
    padding-top: 10px;
    padding-left: 10px;
}

.accordion-open {
    height: auto;
    padding-top: 0px;
    padding-left: 10px;
}

.accordion-close {
    height: 0px;
    padding-top: 0px;
    padding-left: 10px;
}

/*----------------------------------------------------------------------------
                Style for Accordion Component ends
-----------------------------------------------------------------------------*/

.fileInputContainer > .fileInput {
    opacity: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.fileInputContainer img {
    border-radius: 50px;
}

.fileInputContainer .accountediticon {
    bottom: 10px;
    left: 80px;
    cursor: pointer;
}

.fileInputContainer:active {
    transform: scale(0.98);
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 8px;
    margin: 50px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }

    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

/*----------------------------------------------------------------------------
                Style for Tags in Add Project
-----------------------------------------------------------------------------*/

.react-tags {
    position: relative;
    /*padding: 6px 0 0 6px;*/
    border: 1px solid #a9a9a9;
    border-radius: 1px;
    /*margin-top: 3px;*/

    /* shared font styles */
    font-size: 1em;
    line-height: 1;

    /* clicking anywhere will focus the input */
    cursor: text;
}

.react-tags.is-focused {
    border-color: #b1b1b1;
}

.react-tags__selected {
    display: inline;
}

.react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 2px;
    /*padding: 6px 8px;*/
    border: 1px solid #102139;
    border-radius: 50px;
    background: #102139;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__selected-tag:after {
    content: '\2715';
    color: #aaa;
    margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
    border-color: #b1b1b1;
}

.react-tags__selected-tag-name {
    color: white;
}

.react-tags__search {
    display: inline-block;

    /* match tag layout */
    /*padding: 7px 2px;*/
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 5px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__search {
        /* this will become the offsetParent for suggestions */
        position: relative;
    }
}

.react-tags__search input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__search input::-ms-clear {
    display: none;
}

.react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__suggestions {
        width: 240px;
    }
}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: white;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
}

.react-tags__suggestions li.is-active {
    background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
}

.CommentModal .modal-header {
    border-bottom: 0px;
}

.comments_textarea_holder {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 3px;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
}

.comments_textarea_holder textarea {
    border: 0;
    padding: 0;
    margin: 0;
    width: 98%;
    border-radius: 0px;
    border-bottom: 1px solid #999999;
    height: 40px;
}

.comments_textarea_holder textarea:focus, .comments_textarea_holder textarea:active {
    border-bottom: 1px solid #999999;
}

.comments_textarea_holder ul {
    list-style: none;
}

.comments_textarea_buttons {
    border-top: 1px solid #eee;
    padding-top: 5px;
    text-align: left;
    display: inline-block;
    /* display: -webkit-box;
      display: -ms-flexbox;
      display: inline-block;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
     -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;  */
}

.dropzone {
    border: lightgrey dashed;
    height: 100px;
}

.attachment {
    border: lightgrey dashed;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0px;
    opacity: 0;
}

.comment_attachment {
    border: lightgrey dashed;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 0px;
    top: -20px;
    opacity: 0;
}

.attachmentmodal_attachment {
    border: lightgrey dashed;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 15px;
    opacity: 0;
}

.project-name {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
    font-weight: lighter;
    font-size: 15px;
    width: 50%;
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}


.projects-container {
    max-height: 400px;
    overflow-y: scroll;
}

.headingClassName:hover {
    background-color: #ecf0f3;
}

.total-count {
    background: #f33263;
    color: white;
    padding: 0px 4px;
    border-radius: 50px;
    margin-right: 10px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
}

.project-title {
    color: #2c4885;
    font-weight: bold;
    font-size: 20px;
}

.task-name {
    font-size: 15px;
    font-weight: 100;
}

.is_project .task-name {
    cursor: pointer !important;
}

.due-date {
    color: #2c4885;
    font-size: 12px;
    line-height: 23px;
}

.overdue-date {
    color: #f33263;
    font-size: 12px;
    line-height: 23px;
}

.project-info {
    font-size: 12px;
    font-weight: 100;
}

.options-div {
    display: none;
    cursor: pointer;
}

.single-data:hover .options-div {
    display: block;
}

.option-popper {
    width: 200px;
    position: absolute;
    right: 5%;
    padding: 10px;
    background: white;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-radius: 5px;
    top: 20px;
}

.editor-container {
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 5px 0px;
}

.editor-row input[type='text'] {
    border: none;
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
}

.editor-row input[type='text']:focus {
    outline: none;
}

.individual-tag {
    background: #dedede;
    padding: 0px 10px;
    border-radius: 50px;
    margin-right: 5px;
    font-size: 12px;
}

.flaglist li {
    display: flow-root;
}

.notification-count {
    padding: 1px 4px;
    margin-left: -9px;
    top: 15px;
    position: absolute;
    background: #f33263;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
}

.col-left {
    float: left;
}

.col-right {
    float: right;
}

.col-center {
    margin: auto;
}

.add-project-name {
    border-right-width: 0px;
    border-radius: 5px 0px 0px 5px;
}

.color-round {
    width: 10px;
    background-color: red;
    border-radius: 50px;
    height: 10px;
    position: absolute;
    top: 5px;
}

.ant-select-selection-item .color-round {
    top: 10px;
}

.flag-selection-outer {
    position: absolute;
    z-index: 1;
    width: 200px;
    right: 0;
    height: 40px;
    background: white;
}

#parent-project-select {
    width: 40%;
}

.member-selection-outer {
    width: 350px;
    padding: 10px;
    border: 1px solid #eee;
    height: auto;
    position: absolute;
    z-index: 1;
    right: 15px;
    background: white;
}

.due-date-container {
    z-index: 1;
    border: 1px solid #eee;
    border-radius: 5px;
    right: 45px;
    background: white;
    position: absolute;
}

.dueDate {
    border-radius: 0px 5px 5px 0px;
    height: inherit;
}

textarea[name="note"] {
    resize: none;
}

.popover {
    width: 100%;
}

.tags-input {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 8px;
    border: 1px solid #d6d8da;
    border-right-width: 0px;
    border-radius: 5px 0px 0px 5px;
    height: inherit;
}

.task-tags-input {
    padding: 0 8px;
    border: 1px solid #d6d8da;
    border-right-width: 0px;
    border-radius: 5px 0px 0px 5px;
    height: inherit;
}

#tags {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.tag {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    padding: 2px 8px;
    font-size: 12px;
    list-style: none;
    border-radius: 6px;
    margin: 8px 8px 8px 0;
    background: #102139;
}

.tags-input input {
    -webkit-box-flex: 1;
    flex: 1;
    border: none;
    font-size: 14px;
    padding: 0;
}

@media (min-width: 1200px) {
    .optionsDot {
        opacity: 0;
        margin-right: 10px;
        float: right;
    }
}

@media (min-width: 1439px) {
    .optionsDot {
        opacity: 0;
        margin-right: 25px;
        float: right;
    }
}

.headingClassName:hover .optionsDot, .edit-task-row:hover .optionsDot {
    opacity: 1;
}

.p-relative {
    position: relative;
}

.member_indicator {
    border: 1px solid #dedede;
    border-radius: 50px;
    padding: 3px 4px;
    display: flex;
    width: 30px;
    height: 30px;
}

.member_indicator span {
    width: 100%;
    text-align: center;
    font-weight: 300;
}

.member_outer:not(:last-child) {
    border-bottom: 1px solid #eee;
}


.list-color-round {
    width: 7px;
    border-radius: 50px;
    height: 7px;
    position: absolute;
    top: 10px;
}

.notification-list {
    width: 400px;
    max-height: 500px;
    overflow-y: scroll;
}

.mark-as-read {
    bottom: 5px;
    position: absolute;
    right: 0px;
}

.notification-avatar-img {
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-position: center center;
}

.modal-btn {
    background-color: #102139;
    color: #ffffff;
    border-color: #102139;
    padding: 0.25rem 0.75rem;
    font-size: 14px;
    font-weight: lighter;
}

.modal-btn:hover {
    background-color: #102139;
    color: #ffffff;
    border-color: #102139;
}


.avatar-img {
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ccc;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-position: center center;
}

.hover-effect:hover .btn-invisible {
    opacity: 1;
}

.btn-invisible {
    opacity: 0;
}

.delete-button, .delete-multiple-button {
    border: none;
    background-color: transparent;
}

.AssignmentModal {
    width: 400px;
}

button:focus {
    outline: none;
    border: none;
}

.empty-div {
    margin-right: 37px;
}

.ant-message, .react-confirm-alert-overlay {
    z-index: 1055 !important;
}

.ant-breadcrumb {
    font-weight: 300 !important;
    font-size: 12px !important;
    margin-left: 5px;
}

.ant-breadcrumb > span:not(:last-child) {
    cursor: pointer;
}

.ant-breadcrumb > span:not(:last-child):hover {
    color: #2c4885;
}

.back_to_search, .ant-spin {
    color: #2c4885 !important;
}

.back_to_search:hover, .back_to_search:active {
    color: #2c4885;
    text-decoration: underline;
}

.ant-spin-dot-item {
    background-color: #2c4885 !important;
}

.btn .ant-spin-dot-item {
    background-color: white !important;
}

.tags_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.avatar_wrap img {
    border-radius: 50%;
}

.comment_container {
    height: 300px;
    overflow-y: scroll;
    border-top: 2px solid #eee;
    padding-top: 10px;
    padding-right: 15px;
}

.attachment_container {
    height: 300px;
    overflow-y: scroll;
    border-top: 2px solid #eee;
}

.single_document {
    border-bottom: 1px solid #eee;
}

.single_document a {
    color: inherit !important;
}

.single_document a:hover, .single_document a:focus, .single_document a:active {
    text-decoration: underline;
}

.comment_document {
    max-width: 150px;
    max-height: 200px;
    margin: 5px 0px 10px 0px;
}

.document_preview {
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    background-position: center center;
}

.download {
    background-image: url(../images/icon_project_download.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-left: 5px;
    display: inline-block;
    background-size: contain;
    border: 1px solid #999;
}

.download:focus, .download:active {
    background-image: url(../images/icon_project_download.png) !important;
}

.comment_time {
    font-size: 11px;
}

.reply {
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.profile_avtar {
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-position: center center;
}

.comment_avatar {
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-position: center center;
}

.assign_to_avatar {
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-position: center center;
}

.reply_section, .reply_comment {
    margin-left: 3rem;
}

/*----------------------------------------------------------------------------
                Style for User Account
-----------------------------------------------------------------------------*/

.accountmodal .modal-content {
    background-color: #102139;
}

.accountmodal .modal-header button {
    color: #ffffff;
}

.edit_button_container {
    border-top: 1px solid #eeeeee;
    padding-top: 5px;
}
